.contacts {
  min-width: 320px;
  background: var(--basic-white);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  position: relative;

  &__title {
    margin: 50px auto 45px auto;
    text-align: center;
    color: var(--basic-text);
  }

  &__label {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: var(--basic-text);
    text-align: center;
    margin: 0 auto 31px auto;
    align-self: center;

    & a {
      font-weight: 300;
      font-size: 24px;
      line-height: 33px;
      color: var(--basic-red);
      text-align: center;
      margin: 0 auto 41px auto;
      align-self: center;
    }
  }

  &__triangle {
    position: absolute;
    top: 452px;
    height: 34px;
  }

  &__point {
    position: absolute;
    top: 530px;
    left: 45%;
  }

  &__map {
    margin: 0 auto;
    text-align: center;
    min-width: 320px;
    width: 100%;
  }
}
