.copyright {
  min-width: 134px;
  min-height: 34px;
}

.copyright__text {
  line-height: 18px;
}

.copyright__link {
  margin-left: 10px;
  display: inline-block;
  vertical-align: -50%;
  fill: $basic-red;

  &:hover {
    fill: $basic-text;
  }

  &:active {
    opacity: 0.3;
  }
}

@include desktop {
  .copyright__text {
    font-size: 18px;
  }

  .copyright__link {
    margin-left: 5px;
  }
}
