.image-editor {
  margin: 0 auto;
  min-width: 320px;
  width: 100%;
  background-color: $basic-white;
}

.image-editor__title {
  margin: 54px 20px 54px 20px;
  padding: 0;
  line-height: 30px;
  color: $basic-text;
  text-align: center;
}

.image-editor__wrapper {
  min-width: 320px;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  background-color: $basic-gray;
  object-fit: contain;
}

.image-editor__form {
  min-width: 320px;
  object-fit: contain;
  background-color: $basic-gray;
  padding-bottom: 29px;

  a {
    min-width: 280px;
    display: block;
  }
}

.image-editor__icons-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: block;
  text-align: center;

  li {
    display: inline-block;
    margin-right: 35px;
    vertical-align: middle;

    &:last-child {
      margin-right: 0;
    }
  }
}

.image-editor__icon {
  width: 48px;
  height: 48px;
  border: none;
  padding: 0;
  opacity: 0.3;
  cursor: pointer;

  &--current path {
    fill: $basic-red;
  }

  &--current {
    opacity: 1;
  }
}

.image-editor__range {
  width: 100%;
  padding-top: 39px;
  margin-bottom: 38px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 32px;
  position: relative;
  border-bottom: 1px solid $basic-border;
}

.image-editor__bar {
  margin: 0 auto;
  width: 100%;
  height: 2px;
  background-color: $basic-black;
}

.image-editor__toggle {
  position: absolute;
  top: 34px;
  left: 0;
  cursor: pointer;
  width: 12px;
  height: 12px;
  border: 2px solid $basic-red;
  background-color: $basic-white;
  border-radius: 50%;
}

.image-editor__button {
  min-width: 280px;
  margin: 0 auto;
  margin-bottom: 12px;
  padding: 17px 35px;
  border: solid 3px $basic-red;
  border-radius: 29px;
  background: transparent;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $basic-red;
  cursor: pointer;
  display: block;

  &--disable {
    border: solid 3px $basic-text;
    color: $basic-text;
    cursor: auto;
    opacity: 0.1;
  }
}
