.main-nav {
  min-width: 320px;
  width: 100%;
  min-height: 255px;
  margin: 0 auto;
  position: absolute;
  top: 67px;
}

@include tablet {
  .main-nav {
    top: 90px;
  }
}

@include desktop {
  .main-nav {
    min-height: 14px;
    position: relative;
    top: 0;
    width: 40%;
    align-self: center;
    flex-grow: 1;
  }
}
