.page-body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  background: var(--basic-white) url("../img/back-660.jpg") no-repeat center top;
  margin: 0 auto;
}
