.page-header {
  width: 100%;
  background: $basic-white url("../img/back-660.jpg") no-repeat center top;
}

.page-header__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  background-color: $basic-bg-header;
}

.page-header__logo {
  min-width: 74px;
  min-height: 23px;
  margin: 22px 0 21px 20px;
  flex-grow: 1;
}

.page-header__logo-svg-first,
.page-header__logo-svg-third {
  display: none;
}

.page-header__logo-svg-second {
  display: inline-block;
}

.page-header__toggle {
  width: 50px;
  height: 24px;
  border: none;
  background: none;
  align-self: center;
  margin: 21px 21px;
}

@include tablet {
  .page-header__logo-svg-first {
    display: inline-block;
    margin-right: 8px;
  }
}

@include desktop {
  .page-header__logo {
    margin-right: 173px;
    margin-left: 130px;
    flex-grow: 0;
  }

  .page-header {
    width: 100%;
    background: $basic-white url("../img/back-1220.jpg") no-repeat center top;
    background-size: cover;
  }

  .page-header__logo-svg-third {
    display: inline-block;
  }

  .page-header__logo-svg-first,
  .page-header__logo-svg-second,
  .page-header__toggle {
    display: none;
  }
}
