.page-footer {
  min-width: 320px;
  background: $basic-white;
  text-align: center;
}

.page-footer__logo {
  display: block;
  margin: 40px 0 41px 0;
}

.page-footer__social {
  margin-bottom: 41px;
}

.page-footer__copyright {
  margin-bottom: 40px;
}
