.page-title {
  margin: 0 auto;
  min-height: 396px;
  padding-top: 36px;
  display: block;
  background: url("../img/hand-smartphone-320.png") no-repeat center 140px;
}

.page-title__wrapper {
  min-width: 320px;
  width: 100%;
}

.page-title__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: $basic-white;
  display: block;
  margin: 0 20px;
  padding-bottom: 330px;
  text-align: center;

  br:first-child {
    display: none;
  }

  &--contest {
    margin-bottom: 84px;
    line-height: 33px;
  }

  &--registration {
    margin-bottom: 51px;
    line-height: 33px;
  }
}

.page-title__downloads {
  min-width: 320px;
  width: 100%;
  background-color: $basic-deepwater;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 38px;
}

.page-title__button {
  margin: 28px 20px 32px 20px;
  padding: 17px 35px;
  border: solid 3px $basic-white;
  border-radius: 29px;
  background: transparent;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $basic-white;
  cursor: pointer;
}

.page-title__platform-list {
  padding: 0;
  list-style: none;
  min-width: 320px;

  a {
    text-decoration: none;
  }

  li {
    margin-right: 35px;
    display: inline;

    &:last-child {
      margin-right: 0;
    }
  }
}

.page-title__annotation {
  font-weight: 300;
  color: $basic-white;
  display: block;
  margin: 28px 20px 0 20px;
  text-align: center;
  min-width: 280px;
}

@include tablet {
  .page-title {
    min-height: 396px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: url("../img/hand-smartphone-760.png") no-repeat 60% 94px;
    padding-top: 0;
  }

  .page-title__slogan {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-top: 102px;
    padding-bottom: 39px;
    font-size: 40px;
    line-height: 48px;

    br:first-child {
      display: block;
    }
  }

  .page-title__downloads {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background: none;
    padding-bottom: 0;
  }

  .page-title__wrapper {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .page-title__button {
    padding: 17px 48px;
  }

  .page-title__annotation {
    padding-bottom: 119px;
    font-size: 18px;
    margin: 0;
  }
}

@include desktop {
  .page-title {
    min-height: 396px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: url("../img/hand-smartphone-1200.png") no-repeat 90% 140px;
    padding-top: 0;
  }

  .page-title__slogan {
    padding-top: 114px;
    padding-bottom: 51px;
    font-size: 50px;
    line-height: 68px;
  }

  .page-title__button {
    font-size: 21px;
    line-height: 18px;
    margin-bottom: 67px;
    margin-top: 0;
  }

  .page-title__annotation {
    padding-top: 58px;
    padding-bottom: 55px;
    margin: 0;
  }

  .page-title__downloads {
    padding-bottom: 0;
  }
}
