.registration {
  margin: 0 auto;
  min-width: 320px;
  display: block;
}

.registration__title {
  margin: 43px 20px 37px 20px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: $basic-text;
  text-align: center;
  display: block;

  span,
  br {
    display: none;
  }
}

@include tablet {
  .registration {
    margin-bottom: 40px;
  }

  .registration__title {
    margin: 91px 84px 76px 84px;
    font-size: 18px;

    span,
    br {
      display: inline;
    }
  }
}

@include desktop {
  .registration {
    margin-bottom: 24px;
  }

  .registration__title {
    margin: 91px auto 79px auto;
    font-size: 18px;
    width: 760px;

    br {
      display: none;
    }
  }
}
