$basic-deepwater: #1d2631;
$basic-white: #ffffff;
$basic-black: #000000;
$basic-gray: #f2f2f2;
$basic-text: #283645;
$basic-red: #d22856;
$basic-green: #3dc644;
$basic-button: #2aab6d;
$basic-border: #e5e5e5;
$basic-shadow: rgba(0, 1, 1, 0.15);
$basic-border-light: rgba(255, 255, 255, 0.15);
$basic-bg-header: rgba(0, 0, 0, 0.3);
