input::-moz-placeholder {
  color: $basic-text;
  opacity: 1;
}

textarea::-moz-placeholder {
  font-family: $main-font;
  color: $basic-text;
  font-size: 18px;
  line-height: 30px;
  opacity: 1;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
::placeholder {
  color: $basic-text;
  opacity: 1;
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder {
  color: $basic-text;
  opacity: 1;
}

/* Microsoft Edge */
::-ms-input-placeholder {
  color: $basic-text;
  opacity: 1;
}
