.button {
  margin: 0 auto;
  padding: 23px;
  min-width: 276px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
}
