.button {
  padding: 13px;
  min-width: 280px;
  min-height: 59px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  background-color: $basic-button;
  border: 2px solid $basic-button;
  border-radius: 1px;
  color: $basic-white;
}
