.input-text {
  display: block;
  margin-bottom: 21px;

  span {
    line-height: 30px;
    color: $basic-red;
    text-transform: uppercase;
  }

  input {
    font-family: inherit;
    font-size: 18px;
    line-height: 30px;
    color: $basic-text;
    padding: 15px 0 16px 20px;
    border: 2px solid $basic-border;
    border-radius: 1px;
    min-width: 280px;
    width: 100%;
    display: block;
  }
}

@include tablet {
  .input-text {
    display: flex;
    align-items: center;

    input {
      width: 80%;
      flex-grow: 1;

      &[type="tel"] {
        background: url("../img/phone-icon.svg") no-repeat right top;
        background-size: contain;
      }

      &[type="email"] {
        background: url("../img/mail-icon.svg") no-repeat right top;
        background-size: contain;
      }
    }
  }
}

@include desktop {
  .input-text {
    display: flex;
    align-items: center;

    input {
      width: 80%;
      flex-grow: 1;

      &[type="tel"] {
        background: url("../img/phone-icon.svg") no-repeat right top;
        background-size: contain;
      }

      &[type="email"] {
        background: url("../img/mail-icon.svg") no-repeat right top;
        background-size: contain;
      }
    }
  }
}
