.input-text {
  display: block;

  span {
    line-height: 30px;
    color: $basic-red;
    text-transform: uppercase;
    margin-left: 21px;
  }

  input {
    font-size: 18px;
    line-height: 30px;
    color: $basic-text;
    padding: 15px 0 16px 20px;
    border: 2px solid $basic-gray;
    border-radius: 1px;
    min-width: 280px;
    width: 100%;
    display: block;
    margin-bottom: 21px;
  }
}
