.modal-window {
  min-width: 320px;
  min-height: 289px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background: var(--basic-white);
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  border-radius: 1px;
  position: absolute;
  top: 280%;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-text);
  box-sizing: border-box;

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin: 44px auto 37px auto;
  }

  &__text {
    margin: 0 22px 50px 22px;
  }

  &__button {
    background: var(--basic-button);
    border: 2px solid var(--basic-button);
    color: var(--basic-white);
    margin-bottom: 52px;
  }
}
