.site-list {
  @include list-none;

  @include desktop {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 73px;
  }
}

.site-list__item {
  min-height: 64px;
  margin: 0 auto;
  padding: 22px 0 21px 0;
  box-shadow: 0 -1px 0 $basic-black, inset 0 1px 0 $basic-border-light;
  background-color: $basic-text;

  a {
    display: block;
    text-align: center;
    color: $basic-white;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    line-height: 100%;
  }

  a:hover {
    color: $basic-red;
  }

  a:active {
    opacity: 0.3;
  }

  @include desktop {
    display: block;
    min-width: fit-content;
    min-height: fit-content;
    margin-right: 58px;
    background: none;
    box-shadow: none;
    padding-top: 10px;
    padding-bottom: 11px;

    &--active {
      border-bottom: 2px solid $basic-white;
    }

    a {
      font-weight: 400;
      text-transform: none;
    }

    a:active {
      color: $basic-white;
      opacity: 0.3;
    }
  }
}
