.slider {
  min-width: 320px;
  margin-top: 41px;
  margin-bottom: 35px;
}

.slider__list {
  @include list-none;
}

.slider__item {
  margin: 0 auto;
}

.slider__name {
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: $basic-black;
  text-align: center;
}

.slider__age-profession {
  display: none;
}

.slider__text {
  margin: 0 20px 20px 20px;
  line-height: 30px;
  color: $basic-black;
  text-align: center;
}

.slider__next-pre-buttons {
  display: none;
}

@include tablet {
  .slider {
    margin-bottom: 6px;
  }

  .slider__item {
    margin-top: 94px;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .slider__age-profession {
    display: block;
    order: 3;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 30px;
  }

  .slider__name {
    display: block;
    order: 2;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 20px;
    line-height: 30px;
  }

  .slider__text {
    display: block;
    order: 1;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 35px;
  }

  .slider__next-pre-buttons {
    display: none;
  }
}

@include desktop {
  .slider__list {
    background: url("../img/quotes.svg") no-repeat center 60px;
    padding-top: 172px;
    padding-left: 256px;
    padding-right: 256px;
  }

  .slider {
    position: relative;
    width: 1200px;
    margin: 0 auto;
  }

  .slider__next-pre-buttons {
    display: block;
    position: absolute;
    left: 0;
    top: 48%;
    width: 100%;

    button {
      position: absolute;
      left: 126px;
      top: 12px;
      border: none;
      background: none;
      cursor: pointer;
      opacity: 0.3;

      svg {
        fill: $basic-text;
      }

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.1;
      }
    }

    button:last-child {
      position: absolute;
      transform: rotate(180deg);
      left: 1044px;
      top: 9px;
    }
  }

  .slider__item {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .slider__age-profession {
    display: block;
    order: 3;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 18px;
  }

  .slider__name {
    order: 2;
    margin-bottom: 3px;
    font-size: 24px;
    line-height: 30px;
  }

  .slider__text {
    display: block;
    order: 1;
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 35px 0;
  }

  .slider__toggles {
    display: none;
  }
}
