.slider-tariffs {
  min-width: 320px;
  overflow: hidden;
  margin: 0 auto;

  span {
    line-height: 100%;
  }
}

.slider-tariffs__table {
  min-width: 832px;
  min-height: 280px;
  border-spacing: 1px;
  margin: 0 auto;
  margin-bottom: 49px;
  overflow: hidden;

  th {
    background-color: $basic-deepwater;
    color: $basic-white;
    min-height: 94px;
    vertical-align: top;

    &:first-child {
      display: none;
    }

    &:nth-child(2) {
      border-left: 2px solid $basic-deepwater;
      border-radius: 1px 0 0 0;
    }

    &:last-child {
      border-right: 2px solid $basic-deepwater;
      border-radius: 0 1px 0 0;
    }

    &[data-stripe] {
      background: $basic-deepwater url("../img/data-stripe-hit.svg") no-repeat left top;
    }
  }

  td {
    background-color: $basic-white;
    padding: 24px 20px 25px 20px;
    line-height: 30px;
    text-transform: uppercase;

    &:first-child {
      display: none;
    }
  }
}

.slider-tariffs__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 19px auto 15px auto;
  display: block;
}

.slider-tariffs__cost {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 auto 35px auto;
  display: block;
}

.slider-tariffs__td-yes {
  background: $basic-white url("../img/yes.svg") no-repeat right center;
  background-position: 95% 50%;
}

.slider-tariffs__td-no {
  background: $basic-white url("../img/no.svg") no-repeat right center;
  background-position: 95% 50%;
}

@include tablet {
  .slider-tariffs__table {
    min-width: 616px;
    width: 100%;
    padding: 0 23px;

    th {
      min-height: 75px;

      &:first-child {
        display: block;
        visibility: hidden;
      }

      &:nth-child(2) {
        border-left: 2px solid $basic-deepwater;
        border-radius: 1px 0 0 0;
      }

      &:last-child {
        border-right: 2px solid $basic-deepwater;
        border-radius: 0 1px 0 0;
      }

      &[data-stripe] {
        background: $basic-deepwater url("../img/data-stripe-hit.svg") no-repeat left top;
      }
    }

    td {
      text-transform: none;
      padding: 18px 0 17px 15px;

      &:first-child {
        display: block;
      }

      &:first-child span {
        visibility: visible;
      }

      & span {
        visibility: hidden;
      }
    }

    .slider-tariffs__td-yes {
      background: $basic-white url("../img/yes.svg") no-repeat center center;
    }

    .slider-tariffs__td-no {
      background: $basic-white url("../img/no.svg") no-repeat center center;
    }

    .slider-tariffs__name {
      text-transform: uppercase;
      margin: 19px auto 15px auto;
    }

    .slider-tariffs__cost {
      margin: 0 auto 16px auto;
    }
  }

  .slider-tariffs__toggles {
    display: none;
  }
}

@include desktop {
  .slider-tariffs {
    width: 1200px;
  }

  .slider-tariffs__table {
    min-width: 940px;
    width: 100%;
    padding: 0 130px;

    .slider-tariffs__name {
      text-transform: uppercase;
      margin: 23px auto 15px auto;
      font-size: 18px;
    }

    .slider-tariffs__cost {
      margin: 0 auto 25px auto;
      font-size: 24px;
    }
  }

  .slider-tariffs__toggles {
    display: none;
  }
}
