.social {
  min-width: 280px;
  min-height: 54px;
  display: inline-block;
  text-align: center;
}

.social__list {
  @include list-none;
  text-align: center;
  display: inline-block;
  min-width: 280px;

  li {
    display: inline;
    margin-right: 8px;
  }

  a {
    text-decoration: none;
  }

  :last-child {
    margin-right: 0;
  }
}

.social__link {
  background: none;
}
