.social {
  margin: 0;
  padding: 0;
  min-width: 178px;
  min-height: 54px;

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    align-content: space-between;

    & li {
      align-self: center;
      margin-right: 8px;
    }

    &:last-child {
      align-self: center;
      margin-right: 0;
    }
  }

  &__link {
    background: none;
  }
}
