.tariffs {
  background-color: $basic-gray;
  padding-top: 79px;
  padding-bottom: 49px;
  min-width: 320px;
  position: relative;
}

.tariffs__slider {
  margin-bottom: 49px;
}

.tariffs__triangle {
  position: absolute;
  top: 0;
}
