.tariffs {
  background-color: $basic-gray;
  padding-top: 94px;
  padding-bottom: 45px;
  min-width: 320px;
  position: relative;
}

.tariffs__slider {
  margin-bottom: 49px;
}

.tariffs__triangle {
  position: absolute;
  top: 0;
  height: 20px;
}

@include tablet {
  .tariffs {
    padding-top: 90px;
    padding-bottom: 66px;
  }

  .tariffs__triangle {
    height: 40px;
  }
}

@include desktop {
  .tariffs {
    margin-top: 3px;
    padding-top: 147px;
    padding-bottom: 95px;
  }

  .tariffs__triangle {
    height: 100px;
  }
}
