.toggles {
  min-width: 320px;
  text-align: center;
}

.toggles__toggle {
  min-width: 16px;
  border: none;
  overflow: hidden;
  background: none;
  opacity: 0.3;
  cursor: pointer;
  padding: 2px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }

  &--current {
    opacity: 1;

    &:hover,
    &:active {
      opacity: 1;
    }
  }
}
